body{
	margin:0;
	padding:0;
	font-size:150%;	
	box-sizing: border-box;
	max-width: 1200px;
	line-height: 1.5;
}


header, nav, main, footer{
	border: 3px solid #4ca4cc;
	margin: 20px 0;
	padding: 10px 0;
}


nav li{
	padding:25px;
	width:25%;
	display: inline-block;
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 20%;
	transition: all 0.2s ease;
	background-color: white;
}

nav li:hover {
	background-color: pink;
	color: white;
	cursor: pointer;
}

  
h1{
	text-align: center;
	font-size: 2em; 
	font-weight: bold;
	color: white;
	background-color: navy;
	font-family: Georgia, 'Times New Roman', Times, serif

}

.active{
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	
}

/* CSS code for underlining the active page link */

a.active {
	text-decoration: underline;
  }
  

/*Style the images*/
img{
    height: 175px;
	width: 25%;
    border: 3px solid white;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
	color: black;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}


/*Added this so the links stay the same color*/
a:visited{color:#0000FF}



/* Code for timeline on tournaments page */

  .timeline {
	position: relative;
	margin: 50px 0;
  }
  .timeline::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	border-left: 2px solid #555;
  }
  .event {
	position: relative;
	margin: 40px 0;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  }
  .event::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -15px;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #349ca4;;
	border: 5px solid #349ca4;
	box-sizing: border-box;
  }
  .event:first-child::before {
	display: none;
  }
  .event h2 {
	margin-top: 0;
	font-size: 18px;
  }
  .event p {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
  }

  .event img {
	width:16%;
	height: auto;
	transition: 1s ease;
}



/*Image grows when you hover over it */

  .event img:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}


  .hoverwrap {
	position: relative;
	display: inline-block;
  }
  
  .img-wrapper {
	position: relative;
	display: inline-block;
  }
  
  .hovercap {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(3, 9, 93, 0.779);
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	width: 100%;
	height: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
  }
  
  img {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .img-wrapper.active .hovercap {
	height: 100%;
	opacity: 1;
  }

  .skip {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	background-color: transparent;
	color: white;
	opacity: 0;
  }
  
  .skip:focus {
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
  }





